.card_pokemon{
  background-color: '#2e353b';
  margin: '8px auto';
  min-width: 250px;
  max-width: 400px;
  min-height: 220px;
  border-radius: 10px;
  // box-shadow: "2px 2px 4px rgba(0, 0, 0, 0.7)";



    padding: 4px;
    box-sizing: border-box;
    // background-color: #611405;
    overflow: hidden;
    height: 150px;
    border-radius: 50px;
    box-shadow: 1px 1px 14px #611405;
    transition: 0.5s;
}

.card_pokemon:hover{
    animation: pokeCardAnimation 0.5s ease-out;
}
@keyframes pokeCardAnimation {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(3deg);
    }
  
    75% {
      transform: rotate(-3deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }

  .pokeball{
  height: 50px;
  width: 50px !important;
  position: absolute;
  top:16px;
  border-radius: 50%;
  animation-name: borderPokebola;
  animation-duration:1.5s;
  animation-iteration-count: infinite;
  }

  @keyframes borderPokebola {
    from {box-shadow: #ed5565 3px 3px 20px;}
    to { box-shadow: #ed5565 2px 2px 10px;}
  }