change_id_rsa.sh

# Removed files for students

# First Case

/*_*/project/backend_node/node_modules
/*_*/project/backend_node/.env
/*_*/project/frontend_react/node_modules

# Second Case

/*_*_*/project/backend_node/node_modules
/*_*_*/project/backend_node/.env
/*_*_*/project/frontend_react/node_modules

# Third Case

/*_*_*_*/project/backend_node/node_modules
/*_*_*_*/project/backend_node/.env
/*_*_*_*/project/frontend_react/node_modules

