*
!.gitignore
!README.md

# First Case

!/functions/*_*/
!/functions/*_*/**

# Second Case

!/functions/*_*_*/
!/functions/*_*_*/**

# Third Case

!/functions/*_*_*_*/
!/functions/*_*_*_*/**

# Tasks

!/tasks
!/tasks/**
