<header>
  <h1>Random Page</h1>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a href="/account">Account</a>
    {{else}}
    <a href="/login">Log In</a>
    <a href="/register">Register</a>
    {{/if}}
  </nav>
</header>
