.container_register{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.form_container{
    background-color: #f8fcf7d4;
    width: 50%;
    min-height: 300px;
    margin: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    input{
      background-color: #bfc2be;
    }
}
.title_login{
  color: #ffcb05;
  font-weight: 800;
  width: 100%;
  -webkit-text-stroke: 2px cadetblue;
  font-style: italic;
  font-size: 30px;
}

.input_group{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.text_error{
  color: rgb(248, 68, 68);
  font-weight: bold;

}

.center{
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.title_main{
  color: #ffcb05;
  font-weight: 900;
  -webkit-text-stroke: 3px cadetblue;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 0px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 80%;
  justify-content: space-between;
}

.select{
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #636571;
  background-color: inherit;
  border-color: #bfc2be;
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    border-color: black;
  }
}

.card_image{
  max-width: 500px;
  border-radius: 10px;
  min-height: 500px;
}

.img_center{
  width: 100%;
  text-align: center;
  img{
    width: 60%;
  }
  @media (max-width: 600px) {
    img{
      width: 100%;
    }
  }
}

.img_pokebola{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 100px;
  min-height: 200px;
  background-color: rgb(0 0 0 / 40%);
  h2{
    color: white;
    font-style: italic;
  }
  
}
.item_pokebola{
    width: 130px;
    margin: auto;
}
.btn_access {
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 10px;
  margin: 0 10px 10px;
  position: relative;
  padding: 0;
  animation-name: borderPokebola;
  animation-duration:1.5s;
  animation-iteration-count: infinite;
  // &:hover{
  //   box-shadow: #ed5565 2px 2px 14px;
  // }
}

@keyframes borderPokebola {
  from {box-shadow: #ed5565 4px 4px 30px;}
  to { box-shadow: #ed5565 2px 2px 10px;}
}