.form_container{
    background-color: #e0e5de;
    min-height: 300px;
    width: 40%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px
}
.title_login{
    color: #ffcb05;
  font-weight: 800;
  width: 100%;
  -webkit-text-stroke: 2px cadetblue;
  font-style: italic;
  font-size: 30px;
}