# (number) Set the salt cost for bcrypt encryption.
# default = 10
BCRYPT_SALTCOST = 10

# (string) Set the connection type. Must be either 'mongodb' (for MongoDB)
# or 'mysql' (for any SQL database supported by Sequelize).
# More reading: https://sequelize.org/releases/
# default = "mongodb"
DB_CONNECTION = "mongodb"

# (string) Set the database connection URI. Required.
# default = undefined
DB_URI =

# (number) Set the port Express will listen to.
# default = 4000
EXPRESS_PORT = 4000

# (string) Set the URL path at which the API endpoint will be mounted to.
# Example: With root set to '/my/api', v1 API will be available at '/my/api/v1'
# default = "/"
EXPRESS_ROOT = "/"

# (string) The secret key used to sign JSON Web Tokens with. Required.
# default = undefined
TOKEN_SECRETKEY =
